<?xml version="1.0" encoding="utf-8"?>
<!-- The author licenses this file to you under the MIT license. -->
<!-- See the LICENSE file in the project root for more information. -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- this option disables all inputoptions after the app was started if you want to skip them insert false instead of true -->
    <!-- WARNING: if you disable this and don't enter a DbPath via the startup parameters -->
    <!-- you HAVE to set the "data source" attribute in the connectionString of IADbContext at the end of this document to PATHTOYOURIADB\userdata.db -->
    <add key="CmdLineInputsEnabled" value="true"/>
    <add key="GrimToolsItemBaseUrl" value="https://www.grimtools.com/db/search?query=[ITEMNAME]&amp;exact_match=1"/>

    <!-- Printer config values -->
    <!-- values can be set here, but can be overriden later by commandline input or startparameters (special case excludedgreens which will be combined) -->
    <!-- Rarity value can be one of the following values: white, blue, green, purple -->
    <add key="Rarity" value="" />
    <!-- ItemLevel value has to be an integer(number) -->
    <add key="ItemLevel" value="" />
    <!-- OutputPath value has to be a path to a folder without filename example: -->
    <add key="OutputPath" value="" />
    <!-- OutputFormat value can be one of the following values: plaintext, googlesheets, forum, html -->
    <add key="OutputFormat" value="" />
    <!-- ExcludedGreens value can contain multiple item names seperated by , -->
    <!-- This list gets combined with additional input from commandline or startparameters, example value: Spectral Longsword, Troll Bonecrusher -->
    <add key="ExcludedGreens" value="" />

    <!-- Html Output Settings -->
    <!-- colors have to be hex (example: #cccccc) or HTML colors like DarkOrchid -->
    <add key="ColorPurpleItems" value="DarkOrchid"/>
    <add key="ColorGreenItems" value="Green" />
    <add key="ColorBlueItems" value="RoyalBlue" />
    <add key="ColorWhiteItems" value="FloralWhite" />
    <add key="ColorBackground" value="#ccc"/>
    <add key="ItemLineHeight" value="17"/>
    <add key="HoverSpace" value="5"/>
    <add key="ItemTypeColumnWidht" value="300"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="IADbContext" connectionString="metadata=res://*/IADb.csdl|res://*/IADb.ssdl|res://*/IADb.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=userdata.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>